extends layout.pug

block content
    ul.list
      each task in newList
          li(class="list-tasks")
            div.task
              span.crossed #{task.id+1}. #{task.name} 
              p.date Created : #{task.date} 
              p.date Completed : #{task.completedDate} 
