extends layout.pug

block content

    ul.list-group
      each task in taskList
        if task.completedDate !== 'notCompleted'
          li.list-group-item.task
            span #{task.name} ---
            span Created : #{task.date} 
            p Completed : #{task.completedDate} 
