extends layout.pug

block content
    ul.list
      each task in taskList
        if task.completedDate !== 'notCompleted'
          li.list-group
            span #{task.name} ---
            span Created : #{task.date} 
            p.date Completed : #{task.completedDate} 
