extends layout.pug

block content

  .container
    form(action='/', method='POST')
      div
        label 
        a.done(href='/alldone') All done
        input(type='text', name='task')
        button.addTask(type='submit') add

  .container
   ul.list
      each task in taskList
       if task.completedDate == 'notCompleted'
          div
            li.list-group
              a.done(href='/complete/' + task.id) Completed
              div
                p #{task.name}
                p.date ( Created : #{task.date} ) 
              a.delete(href='/delete/' + task.id) Delete


