extends layout.pug

block content

    form(action='/', method='POST')
      div
        label 
        a(href='/alldone') All done
        input(type='text', name='task')
        button(type='submit') addNew Task


    ul.list-group
      each task in taskList
        if task.completedDate == 'notCompleted'
          li.list-group-item.task
            a(href='/complete/' + task.id) Completed
            |
            span #{task.name} ---
            span Created : #{task.date} 
            | 
            a(href='/delete/' + task.id) Delete


