extends layout.pug

block content

  .container
    form(action='/', method='POST')
      div.main-form
        label 
        a(href='/alldone' class="button done") All done
        input(type='text', name='task')
        button(type='submit' class="button addTask") add

  .container
    if (taskList.length !== 0)
      ul.list
        each task in taskList
          if task.completedDate == 'notCompleted'
            li.list-tasks
              a(href=('/complete/' + task.id) class="button done") Completed
              div
                p(class="task") #{task.id+1}.  #{task.name}
                p.date ( Created : #{task.date} ) 
              a(href='/delete/' + task.id class="button delete") Delete
    else
      p No tasks.


