html
  head
    title= addTask
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
  body
    .nav-bar
      ul.underline
        a.nav-link(href='/') List tasks
        | 
        a.nav-link(href='/completed') Completed
    .container
      h2 ToDo List
      p.date Welcome to the Todo app. Enjoy

      

    block content


    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    
