body {
background-color: black;
color: white;
}
input {
  color: black;
}

li{
  list-style: none;
}

li a {
  padding : 5px;
  font-size: 8px;
  color: white;
  border-radius: 15px;
}

li div {
  display: inline-block;
}

.completedList {
background-color: black;
}

.date {
  color: grey;
}

.done:hover {
  padding: 8px;
  font-size: 10px;
  color:white;
}

.delete:hover {
  padding: 8px;
  font-size: 10px;
  color:white;
}

.done {
  background-color: green;
  padding : 5px;
  font-size: 8px;
  color: white;
  border-radius: 15px;
}

.delete {
  background-color: red;
}

.addTask {
  background-color: blue;
  color: white;
  font-size: 10px;
}